<li>
	<a href="#" class="main-btn account-btn">
		<span class="d-md-none"><i class="lni lni-user"></i></span>
		<span class="d-none d-md-block">Panel de Administracion</span>
	</a>
	<ul class="dropdown-nav">
		
		<li><a asp-controller="Cursos" asp-action="Index">Cursos</a></li>
		<li><a asp-controller="Comuna" asp-action="Index">Comunas</a></li>
		<li><a asp-controller="Provincia" asp-action="Index">Provincias</a></li>
	</ul>
</li>