@using GestionAgilDeProyectos.Models

@{
    ViewData["Title"] = "Inicio";
}

<partial name="_MenuHome" />

@*Header*@
<section id="home" class="hero-area bg_cover">
	<div class="container">
		<div class="row">
			<div class="mx-auto col-lg-9 col-xl-9 col-md-10">
				<div class="text-center hero-content">
					<h1 class="mb-30 wow fadeInUp" data-wow-delay=".2s">Gestion Agil De Proyectos</h1>
					<p class="wow fadeInUp" data-wow-delay=".4s">Ultimo Entregable Gestion Agil De Proyectos</p><br>
				</div>
			</div>
		</div>
	</div>
</section>